body {
  font-family: sans-serif;
  color: #666;
  background-color: #000000;
  font-size: x-large;
}

header {
  height: 100rem;
  background-color: rgb(24, 4, 62);
  width: auto;

}

footer {
  height: 5rem;
  background-color: #000000;
  align-content: center;
}