body {
  font-family: sans-serif;
  color: #666;
  background-color: #000000;
  font-size: x-large;
  margin: 1em;
}

header {
  height: 10rem;
  background-color: rgb(24, 4, 62);

}

footer {
  height: 2rem;
  background-color: #000000;
}